production: &base
  gitlab:
    host: {{ .GitlabURL }}
    https: true
    max_request_duration_seconds: 57
    impersonation_enabled: false
    usage_ping_enabled: true
    default_can_create_group: true
    username_changing_enabled: true 
    default_projects_features:
      issues: true
      merge_requests: true
      wiki: true
      snippets: true
      builds: true
      container_registry: {{ .EnableRegistry }}
    webhook_timeout: 
    trusted_proxies:
    time_zone: "UTC"        
    email_from: "{{ .EmailFrom }}"
    email_display_name: "GitLab"
    email_reply_to: "{{ .ReplyTo }}"
    email_subject_suffix: ""
  gravatar:
    plain_url: 
    ssl_url: 
  
  extra:
    
    
    
  artifacts:
    enabled: true
    object_store:
      enabled: true
      remote_directory: gitlab-artifacts
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  lfs:
    enabled: true
    object_store:
      enabled: true
      remote_directory: git-lfs
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  uploads:
    enabled: true
    object_store:
      enabled: true
      remote_directory: gitlab-uploads
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  packages:
    enabled: true
    object_store:
      enabled: true
      remote_directory: gitlab-packages
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  external_diffs:
    enabled: 
    when: 
    object_store:
      enabled: false
      remote_directory: gitlab-mr-diffs
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  terraform_state:
    enabled: false
    object_store:
      enabled: false
      remote_directory: gitlab-terraform-state
      direct_upload: true
      background_upload: false
      proxy_download: true
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  pseudonymizer:
    manifest: config/pseudonymizer.yml
    upload:
      remote_directory: gitlab-pseudo
      connection:
        provider: AWS
        region: us-east-1
        aws_access_key_id: "<%= File.read('/etc/gitlab/minio/accesskey').strip.dump[1..-2] %>"
        aws_secret_access_key: "<%= File.read('/etc/gitlab/minio/secretkey').strip.dump[1..-2] %>"
        host: {{ .ObjectStore.URL }}
        endpoint: {{ .ObjectStore.Endpoint }}
        path_style: true
  
  pages:
    enabled: false
  mattermost:
    enabled: false
  ## Registry Integration
  registry:
    enabled: true
    host: {{ .RegistryURL }}
    api_url: http://{{ .Registry }}:5000
    key: /etc/gitlab/registry/gitlab-registry.key
    issuer: gitlab-issuer
  gitlab_ci:
  ldap:
    enabled: false
  
  omniauth:
    enabled: false
    sync_profile_from_provider: []
    sync_profile_attributes: ["email"]
    allow_single_sign_on: ["saml"]
    block_auto_created_users: true
    auto_link_ldap_user: false
    auto_link_saml_user: false
    external_providers: []
  kerberos:
    enabled: false
  shared:
  gitaly:
    client_path: /home/git/gitaly/bin
    token: "<%= File.read('/etc/gitlab/gitaly/gitaly_token').strip.dump[1..-2] %>"
  repositories:
    storages: # You must have at least a `default` storage path.
      default:
        path: /var/opt/gitlab/repo
        gitaly_address: tcp://{{ .Gitaly }}-0.{{ .Gitaly }}.{{ .Namespace }}:8075
      
  backup:
    path: "tmp/backups"   # Relative paths are relative to Rails.root (default: tmp/backups/)
  gitlab_shell:
    path: /home/git/gitlab-shell/
    hooks_path: /home/git/gitlab-shell/hooks/
    upload_pack: true
    receive_pack: true
  workhorse:
  git:
    bin_path: /usr/bin/git
  webpack:
  monitoring:
    ip_whitelist:
      - 127.0.0.0/8
    sidekiq_exporter:
      enabled: true
      address: 0.0.0.0
      port: 3807
  sidekiq:
    log_format: default
