server:
  listen_address: 0.0.0.0
  listen_port: 9168

probes:
  db_common: &db_common
    methods:
      - probe_db
    opts:
      connection_string: dbname=gitlabhq_production user=gitlab host={{ .PostgreSQL }} port=5432 password='<%= File.read("/etc/gitlab/postgres/psql-password").strip.gsub(/[\'\\]/) { |esc| '\\' + esc } %>'
  database:
    multiple: true
    ci_builds:
      class_name: Database::CiBuildsProber
      <<: *db_common
    tuple_stats:
      class_name: Database::TuplesProber
      <<: *db_common
    rows_count:
      class_name: Database::RowCountProber
      <<: *db_common

  sidekiq: &sidekiq
    methods:
      - probe_queues
      - probe_workers
      - probe_retries
      - probe_stats
    opts:
      redis_url: redis://:<%= URI.escape(File.read("/etc/gitlab/redis/redis-password").strip) %>@{{ .RedisMaster }}:6379
      redis_enable_client: false

  metrics:
    multiple: true
    sidekiq:
      <<: *sidekiq
    ci_builds:
      class_name: Database::CiBuildsProber
      <<: *db_common
    tuple_stats:
      class_name: Database::TuplesProber
      <<: *db_common
    rows_count:
      class_name: Database::RowCountProber
      <<: *db_common